body {
    font-family: Arial, Tahoma;
    background: #fafafa;
    direction: rtl;
    text-align: center;
}

header {
    background: #4CAF50;
    color: white;
    padding: 30px;
}

.services, .about-us, .contact {
    margin: 20px auto;
    width: 90%;
    max-width: 800px;
    padding: 15px;
    background: white;
    border-radius: 8px;
}

.btn {
    background: #25D366;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
}
